.box{
  background-color: black;
  height: 100px;
  margin: 30px 30px;
  padding-left: 30px;
}
.row{
justify-content: center;
}
.contenedor{
  background-color: rgb(22, 20, 20);
  border-radius: 10%;
  border: rgb(39, 38, 38) solid 1px;
  width: 50px;
  height: 70px;
  margin: 18px 5px;
}
.clock{
  padding: 14px 4px;
  color: rgb(51, 47, 47);
  
}
h1{
  color: rgb(51, 47, 47);
  position: absolute;
  margin: 10px;
}
#numbers{
  width: 150px;
  position: relative;
}